body {
  font-family: "Open Sans", sans-serif;
}

#city-name {
  font-size: 38px;
  margin: 10px auto;
}

ul {
  list-style: none;
  margin-left: -30px;
  font-size: 14px;
}

.container {
  max-width: 500px;
}

.weather-wrapper {
  margin: 35px auto;
}

.overview {
  padding: 15px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.current-temperature {
  position: relative;
  top: 29px;
  font-size: 34px;
}
