body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin-left: -30px;

  font-size: 13px;
}

h1 {
  font-size: 38px;
  line-height: 28px;
  margin: 15px auto;
}

.form-control {
  border-color: #6c757d;
}

#description::first-letter {
  text-transform: uppercase;
}

.container {
  max-width: 500px;
}

.weather-wrapper {
  margin: 35px auto;
}

.overview {
  padding: 15px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

#current-description {
  opacity: 0.7;
}

#current-temp-icon {
  height: 90px;
}

.current-temperature {
  position: relative;
  top: 14px;
  font-size: 40px;
}

#unit {
  position: relative;
  top: 23px;
  font-size: 16px;
}

#forecast-display {
  text-align: center;
}

.weather-forecast-date {
  opacity: 0.6;
}

.forecast-temperature {
  font-size: 14px;
  font-weight: 500;
}

.temperature-minimum {
  opacity: 0.6;
}

#signature {
  font-size: 12px;
}

#github-link {
  text-decoration: none;
}
