body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  max-width: 500px;
}

.weather-wrapper {
  margin: 35px auto;
}

.overview {
  padding: 15px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.float-right {
  float: right;
}
